@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --cyan: #38bdf8;
  --darkCyan: #0f172a;
}

body::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--darkCyan);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--cyan);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  background-color: black;
  color: White;
}

.navContainer {
  width: 100%;
  background: linear-gradient(180deg, black, transparent);
  position: absolute;
  top: 0px;
  z-index: 1;
}

.navbar a:hover {
  color: var(--cyan);
}

.mobileNavbar {
  display: none;
}

.menu {
  display: none;
}

@media screen and (max-width: 760px) {
  .desktopNavbar {
    display: none;
  }

  .carousel .control-arrow,
  .carousel.carousel-slider .control-arrow {
    z-index: 1 !important;
    display: none !important;
  }

  .menu {
    display: block;
  }

  .mobileNavbar {
    display: flex;
    flex-direction: column;
    background: var(--darkCyan);
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
  }

  .mobileNavbar a {
    margin-top: 10px;
    padding: 10px 20px;
  }
}
