@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --green: #80f880;
}

body {
  background-color: black;
  color: White;
}

.navContainer {
  width: 100%;
  background: linear-gradient(180deg, black, transparent);
  position: absolute;
  top: 0px;
  z-index: 1;
}

.navbar a:hover {
  color: var(--green);
}
